<div class="cuadro_inicio" id="cuadro1" onclick="animarCuadro('#cuadro1')">
    <p>"Haz un cliente, no una venta."</p>
    <p class="autor_frase" style="background: #F79F1F">Katherine Barchetti-</p>
</div>
<div class="cuadro_inicio" id="cuadro2" onclick="animarCuadro('#cuadro2')">
    <p>"Perro que ladra, jamas su tronco endereza"</p>
    <p class="autor_frase" style="background: #1289A7">El Haydt-</p>
</div>
<div class="cuadro_inicio" id="cuadro3" onclick="animarCuadro('#cuadro3')">
    <p>"Scooby-doo y le piedad filosofal"</p>
    <p class="autor_frase" style="background: #ff7675">El Cesar-</p>
</div>
